<div class="container-fluid">
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <b><h1 class="h3 mb-0 bold text-black-800">DASHBOARD</h1></b>

   </div>
   <mat-progress-bar *ngIf='spinner' mode='indeterminate'></mat-progress-bar>
   <hr/>
   <!-- Content Row -->
   <div>
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               <div class="col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                     <div class="card-body">
                        <div class="row no-gutters align-items-center">
                           <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                 Total Volunteers Registered
                              </div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800"> {{stats?.totalVolunteers}}</div>
                           </div>
                           <div class="col-auto">
                              <i class="fas fa-calendar fa-2x text-gray-300"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 mb-4">
                  <div class="card border-left-success shadow h-100 py-2">
                     <div class="card-body">
                        <div class="row no-gutters align-items-center">
                           <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                 Total Blocked Volunteer
                              </div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats?.blockedVolunteers}}</div>
                           </div>
                           <div class="col-auto">
                              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 mb-4">
                  <div class="card border-left-warning shadow h-100 py-2">
                     <div class="card-body">
                        <div class="row no-gutters align-items-center">
                           <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                 Total Users in the system
                              </div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{stats?.totalUsers}}</div>
                           </div>
                           <div class="col-auto">
                              <i class="fas fa-user fa-2x text-gray-300"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 mb-4" >
                  <div class="card border-left-info shadow h-100 py-2">
                     <div class="card-body">
                        <div class="row no-gutters align-items-center">
                           <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">System Status
                              </div>
                              <div class="row no-gutters align-items-center">
                                 <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">UP</div>
                                 </div>
      
                              </div>
                           </div>
                           <div class="col-auto">
                              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6 mb-4">
            <div style="display: block;margin-top : 10%">
               <canvas baseChart 
               
                 [data]="pieChartData" 
                 [labels]="pieChartLabels" 
                 [chartType]="pieChartType"
                 [options]="pieChartOptions"
                 [plugins]="pieChartPlugins"
                 [legend]="pieChartLegend"
                 *ngIf="chartReady">
               </canvas>
             </div>
             
         </div>
      </div>
   </div>

</div>