body {
	background: #333333;
    color: white;
    font-weight: 300;
    line-height: 28px;
}

.eg-container {
	background: #5f5c5c;	
    width: auto;
    max-width: 900px;
    padding: 60px;
    margin: 60px auto 60px auto;
    border-radius: 4px;
}
