<div class="card" id="secondaryForm" tabindex="-1" *ngIf="secondaryDiv">

    <div class="card-header card-header-danger">
        <h4 class="card-title ">Add Volunteer</h4>
        <p class="card-category">Fill Volunteer Information and click Block</p>
    </div>
    <div class="card-body" style="margin-left: 22%;">
        <div class="row">
            <form [formGroup]="addVolunteerForm">
                <mat-dialog-content>
                    <mat-form-field>
                        <input matInput placeholder="First Name" formControlName="firstName">
                        <mat-error *ngIf="hasError('firstName', 'required')">First Name is required</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput placeholder="Last Name" formControlName="lastName">
                        <mat-error *ngIf="hasError('lastName', 'required')">Last Name is required</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address" cdkAutosizeMinRows="2"
                            cdkAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
                    <br />
                </mat-dialog-content>
                <mat-dialog-actions>
                    <button mat-raised-button color="primary" [disabled]="!addVolunteerForm.valid && submitted"
                        (click)="save()">Block</button>
                    <button mat-raised-button color="warn" (click)="close()">Close</button>
                </mat-dialog-actions>
            </form>

        </div>
    </div>
</div>