<!--The content below is only a placeholder and can be replaced.-->




<div class="card" id="secondaryForm" tabindex="-1">

  <div class="card-header card-header-danger">
    <div style="float: right;">
      <a (click)="exportTable()" style="cursor: pointer;">
        <i class="material-icons" style="font-size: 40px" matTooltip="Export to PDF">
          download
        </i>
      </a>
    </div>
    <h4 class="card-title ">{{auditTitle}}</h4>
    <p class="card-category">Search for {{auditTitle}} records and click on Download button to download</p>
  </div>
  
  <div class="card-body">
    <div class="mat-elevation-z2">
      <mdt-dynamic-table id="auditTable" [columns]="columns" [dataSource]="dataSource" [pageSize]="5">
      </mdt-dynamic-table>
    </div>
    <br />
    <mat-progress-bar *ngIf='spinner' mode='indeterminate'></mat-progress-bar>
    <div>
        
      <button mat-button (click)="clearFilters()">Clear filters</button>
    </div>
  </div>
</div>