i {
    font-size: 30px;
    margin: 3%;
    cursor: pointer;
  }
  .card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #31314a, #4e73df) !important;
}
  .table-container{
    height: 65vh;
    overflow: scroll;
  }
  
  @media only screen and (max-width: 500px) {
    i {
      font-size: 17px;
      margin: 3%;
      cursor: pointer;
    }
  }
  .registerGrowl.ui-growl {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  color:red
  }