<div class="main-content" id="someId" aria-label="someId" tabindex="-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">

                        <div class="row">
                            <div class="col-md-2 mt-1">
                                <div>
                                    <h4 class="card-title m-2">Users</h4>
                                    <p class="card-category m-2">List of Users</p>
                                </div>
                            </div>
                            <div class="col-md-8 text-center mt-3">
                                    <form class="navbar-search">
                                        <div class="input-group text-center">
                                            <input (keyup)="filterData($event)" type="text" class="form-control text-center bg-light border-1 small"
                                                placeholder="Search Users" aria-label="Search">
                                        </div>
                                    </form>
                            </div>
                            <div class="col-md-2 text-right mt-3" >
    
    
                                <a (click)="openAddModal()" >
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                 </a> 
                            </div>
                        </div>
    
                    </div>
                    <div class="card-body">
                        <div class="table-container">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        User Name
                                    </th>
                                    <th>
                                        First and Last Name
                                    </th>
                                    <th style="padding-left: 7%">
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; let i = index" [attr.data-index]="i">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{user.userName}}
                                        </td>
                                        <td>
                                            {{user.firstName +  " " + user.lastName}}
                                        </td>
                                        <td>
                                            <a (click)="openDeleteModal(user.id)" style="margin-left: 12%;" matTooltip="Delete User">
                                                <i class="material-icons">
                                                    delete
                                                </i>
                                            </a>
                                            <a (click)="openEditModal(user.id)" matTooltip="Edit User">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a (click)="passwordReset(user.id)" matTooltip="Password Reset" >
                                                <i class="material-icons" matTooltip="View Single User">
                                                    settings_backup_restore
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>