<div class="card" id="secondaryForm" tabindex="-1" *ngIf="secondaryDiv">

    <div class="card-header card-header-danger">
        <h4 class="card-title ">Add Volunteer</h4>
        <p class="card-category">Fill Volunteer Information and click Add</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <form [formGroup]="addVolunteerForm">
                    <mat-dialog-content>
                        <br />
                        <mat-radio-group aria-label="Select Gender" formControlName="gender">
                            <mat-radio-button value="1">Male</mat-radio-button>
                            &nbsp;
                            <mat-radio-button value="2">Female</mat-radio-button>
                            <mat-error *ngIf="hasError('gender', 'required')">Gender is required</mat-error>
                        </mat-radio-group>
                        <mat-form-field>
                            <input matInput placeholder="Study Number" formControlName="studyNumber">
                            <mat-error *ngIf="hasError('studyNumber', 'required')">Study Number is required</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="First Name" formControlName="firstName">
                            <mat-error *ngIf="hasError('firstName', 'required')">First Name is required</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Last Name" formControlName="lastName">
                            <mat-error *ngIf="hasError('lastName', 'required')">Last Name is required</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Birth Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birthDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Document Type</mat-label>
                            <mat-select formControlName="documentType">
                                <mat-option *ngFor="let document of documents" [value]=document.id>
                                    {{document.name}} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('documentType', 'required')">Document type is mandatory
                                information</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Document Number" formControlName="documentNumber">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="address" cdkAutosizeMinRows="2"
                                cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                        <button mat-raised-button color="primary" [disabled]="!addVolunteerForm.valid && submitted"
                            (click)="save()">Save Volunteer</button>
                        <button mat-raised-button color="warn" (click)="close()">Close</button>
                    </mat-dialog-actions>
                </form>
            </div>
            <div class="col-lg-6">

                <img src="{{'data:image/jpg;base64,' + fingerDataImage}}"
                    style="height: 150px; width: 100px ;margin-left: 125px;" class="img-thumbnail" alt="Cinque Terre">
                <br />
                <br />
                <img *ngIf="pictureClicked" src="{{imageData}}" style="height: 175px; width: 175px ;margin-left: 90px;"
                    class="img-thumbnail" alt="Cinque Terre">
                <canvas id="canvas" class="d-none"></canvas>
                <video *ngIf="liveVideo" id="webcam" class="img-thumbnail" autoplay playsinline width="175px"
                    height="175px" style="margin-left: 90px;"></video>
                <br />
                <br />
                <button  mat-raised-button color="primary" [disabled]="cameraManager" id="openCameraId" (click)="startCamera()"
                    style="margin-left: 30px;">Start Camera
                    <i class="material-icons" (click)="startCamera()">camera</i></button>
                &nbsp;
                <button id ="blueId" mat-raised-button color="warn" (click)="clickPicture()">Click Picture
                    <i class="material-icons" (click)="clickPicture()">camera_enhance</i></button>

            </div>
        </div>
    </div>
</div>

<div class="card" id="primaryForm" tabindex="-1" *ngIf="primaryDiv">

    <div class="card-header card-header-danger">
        <h4 class="card-title ">Check Volunteer</h4>
        <p class="card-category">Submit your fingerprint on the device after click on "Fingerprint" button </p>
    </div>
    <div class="card-body" style="margin-left: 32%;">
        <br />
        <br />
        <img src="../../../assets/img/fingerprint.png" height="250px" width="250px" class="img-rounded"
            alt="Cinque Terre">
        <br />
        <br />
        <mat-dialog-actions>
            <button id ="blueId" mat-raised-button color="warn" (click)="getFingerPrint()">Validate Fingerprint <i
                    class="material-icons" (click)="getFingerPrint()">fingerprint</i></button>
            <button id ="blueId" mat-raised-button color="warn" (click)="close()">Close</button>
        </mat-dialog-actions>
    </div>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->