.mat-raised-button {
    min-width: 43%;
    margin: 3%
}

.mat-dialog-actions{
    margin-bottom: 0px
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: linear-gradient(60deg, #31314a, #4e73df) !important;
}
.mat-dialog-container{
    padding: 15px 10px 0px 10px
  }

  ngx-growl {
    position:absolute;
    top:50px;
  }