<div>
  <div class=" wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
        style="margin-top: 5%;margin-bottom: 5%;" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15" style="font-size: 200%">
          <span class="material-icons">
            loupe
          </span>
        </div>
        <div class="sidebar-brand-text mx-3" style="font-size: 200%">vAuth</div>
      </a>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" id="userName" formControlName="userName" class="fadeIn second" name="login"
          placeholder="User Name" />
        <input type="password" id="password" autocomplete="on" formControlName="password" class="fadeIn third"
          name="login" placeholder="Password" />
          <br/>
        <input id="loginSubmit1" type="submit" class="fadeIn fourth" value="Log In" />
        <mat-progress-bar *ngIf='spinner' mode='indeterminate'></mat-progress-bar>
      </form>

      <!-- Remind Passowrd -->
     <!--  <div id="formFooter">
        <a class="underlineHover" (click) = "openForgotPasswordModel()" >Forgot Password ?</a>
      </div> -->
    </div>
  </div>
</div>
