<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-car"></i></div>
    <div class="sidebar-brand-text mx-3">Re-Write</div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0" />
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a
      class="nav-link"
      style="cursor: pointer;"
      (click)="navigateToDashboard()"
    >
      <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      id="accorId1"
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      <i class="fas fa-fw fa-cog"></i> <span>Volunteer</span>
    </a>
    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Volunteer Operations</h6>
        <a
          class="collapse-item"
          style="cursor: pointer;"
          data-dismis="collapseOne"
          (click)="navigateToAddVolunteer()"
          >Manage Volunteer</a
        >
       <!--  <a
          class="collapse-item"
          style="cursor: pointer;"
          (click)="NavigateToAddUnit()"
          >List Volunteer</a
        > -->
      </div>
    </div>
  </li>
  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item" *ngIf = "isUserPermission">
    <a
      id="accorId2"
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i> <span>User</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">User Operations</h6>
        <a
          class="collapse-item"
          style="cursor: pointer;"
          data-dismis="collapseTwo"
          (click)="navigateToAddUser()"
          >Manage User</a
        >
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a
      id="accorId3"
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseThree"
      aria-expanded="true"
      aria-controls="collapseThree"
    >
      <i class="fas fa-fw fa-cog"></i> <span>Audit</span>
    </a>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Audit Info</h6>
        <a
          class="collapse-item"
          style="cursor: pointer;"
          (click)="NavigateToAddUnit()"
          >Audit List</a
        >
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Heading -->
  <!-- Nav Item - Pages Collapse Menu -->
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
